body{
  font-family: "Montserrat";
}
#title{
  background-color: #393E46;
}
.container-fluid{
  padding: 3% 15%;
}


.row{
  padding-top: 4.5rem;
}
/* Navigation Bar */
.navbar{
  padding: 0;
}

.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

.nav-item{
  padding: 0 18px;
}

/* Introduction Section */
h1{
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 4rem;
  line-height: 1;
}

.download-button{
  margin: 5% 2% 5%;
}
.title-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  transform: rotate(25deg);
}

@media (max-width: 991px){
  .title-image{
    transform: rotate(0);
    width: 50%;
  }
  .row{
    text-align: center;
  }
}
@media (max-width: 500px) {
  h1{
    font-size: 2.5rem;
  }
  .title-image{

    width: 60%;
  }

}

.custom{
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

/* Features Section */
i{
  margin: 5px;
}

.checkbox{
  text-align: center;
  padding: 0 7%;
  color:#42855B;

}
.checkbox:hover{
  color:#7FB77E;
}

#features{
  background-color: #fff;

}
h3{
  font-family: "Montserrat-Bold";
  font-weight: bold;
}
p{
  font-family: "Montserrat";
  font-weight: lighter;
  color: #B1D7B4;
}


/* testimonials section */
#testimonials{

  text-align: center;
  padding: 0 15%;
  background-color: #393E46;

}
h5{
  font-family: "Montserrat-Black";
  color:#fff;
  font-size: 2.5rem;
}
.pics{
  width:10%;
  border-radius: 50%;
  margin:5%;
}
em{
  color: #fff;
}

.carousel-item{
  padding:7% 15%;
}


@media (max-width: 500px){
  .pics{
    width: 20%;
    text-align: center;
    margin: 0 30%;
  }
  h5{
    font-size: 1.5rem;
  }
  #testimonials{
    padding: 3% 5%;
  }
  .carousel-item{
    padding:7% 20%;
  }
}

#press{
  background-color: #393E46;
  text-align: center;
}
.presspic{
  width: 20%;
  padding: 2% 3%;

}

/* Pricing Section */
.heading{
  text-align: center;
  padding: 5% 15% 0% 15%;
}
h2{
  font-family: "Montserrat-Black";
  font-weight: bolder;
  color: #42855B;
}
@media (max-width: 500px) {
  h2{
    font-size: 1.5rem;
  }
  .heading{
    padding:3% 20%;
  }
  p{
    font-size: 0.8rem;
  }
}

.card{
  background-color: #C9D6DF;
  text-align: center;
  margin: 0 10% 5% 10%;
}
.text{
  color:#000;
}
.card h5{
  color: #000;
}
p{

  color:#000;
}


/* CTA section */
#cta{
  background-color: #393E46;
  text-align: center;
  padding: 5% 20% 5% 20%;
}
#cta h3{
  font-size: 3rem;
  weight: Bold;
  color: #fff;

}
@media (max-width: 500px) {
  #cta h3{
    font-size: 2rem;
  }
}

/* Footer Section */
#footer{
  padding:5%;
  text-align: center;
}
